.about-section{
  background:#8a1010;
  padding:100px 0;
}

.about-container{
  width:85%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:80px;
}

/* Left */

.about-left{
  flex:1;
}

.about-left h2{
  font-size:42px;
  font-weight:600;
  line-height:1.3;
  color:#d8e615;
}

.highlight{
  margin-top:15px;
  font-size:26px;
  color:#d8e615;
  font-weight:500;
}

/* Right */

.about-right{
  flex:1;
}

.about-right p{
  font-size:18px;
  line-height:1.8;
  color:#d8e615;
}

.about-right strong{
  font-weight:600;
}